*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;  
}
/*Div de apoio*/
.center{
    display: flex;
    max-width: 1300px;
    padding: 0 2%;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
}
/*=======================*/

.header{
    background-color: #E4E4E4;
}

.banner-cupom a img{
    max-width: 100%;
    height: 50px;
    width: 100%;
    object-fit: cover;
}

.sobre-menu{
    display: flex;
    width: 100%;
}
.outros-servicos{
    width: 50%;
    padding: 5px 0;
}

.outros-servicos a:nth-child(1){
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 6px 10px;
    color: blue;
    font-weight: bolder;
    background-color: white;
}
.outros-servicos a:nth-child(2){
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: bolder;
    background-color: #DE4A22;
}
.outros-servicos a:nth-child(3){
    border-radius: 5px 5px 0 0;
    padding: 5px 10px 5px 10px;
    color: white;
    font-weight: bolder;
    background-color: #062B68;
}

.atendimento{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.atendimento a{
    font-size: 13px;
    color: #363636;
}

.store-header{
    background-color: white;
    width: 100%;
    padding: 10px;
}

.store-logo a span img{
    height: 40px;
    margin-right: 10px;
}

.store-search{
    display: flex;
    align-items: center;
}

.store-search input{
    border-top: solid #1F5BC6 1px;
    border-left: solid #1F5BC6 1px;
    border-right: none;
    border-bottom: solid #1F5BC6 1px;
    padding: 10px 0;
    width: 500px;
    border-radius: 5px 0 0 5px;
}

.store-search button{
    padding: 5px 10px;
    background-color: #1F5BC6;
    border: none;
    border-radius: 0 5px 5px 0;
}

.store-user {
    display: flex;
    align-items: center;
}

.store-user .store-nav{
    margin-left: 15px;
    cursor: pointer;
    display: flex;
}

.texto-link{
    text-align: center
}

.texto-link span{
    display: block;
    font-size: 12px;
}
.store-nav:hover .texto-link span{
    color: #336ACD;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 110px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown-content a{
    display: block;
    margin: 5px;
    padding: 5px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .store-nav{
    color: #336ACD;
}

.dropdown-content a:hover{
    border-bottom: 1px solid black;
}

.navegacao{
    background-color: #1F5BC6;
    width: 100%;
    padding-top: 10px;
}

.links-navegacao{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}
.links-navegacao a{
    color: white;
    padding: 10px;
}

.links-navegacao .link-departamentos{

    color: white;
    font-weight: bolder;

    
}

.links-navegacao .link-departamentos:hover{
    background-color: white;
    border-radius: 5px 5px 0 0;
    color: #1F5BC6;
}

.links-navegacao .dropdown-departamentos{
    display: none;
    position: absolute;
    top: 180px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}

.links-navegacao .dropdown-departamentos a{
    display: block;
    margin: 5px;
    padding: 5px;
    color: black;
    border-top: 1px solid #aaaaaa ;
}

.departamentos:hover .dropdown-departamentos{
    display: block;
}

.localizacao{
    background-color: white;
    border-bottom: 1px solid #E4E4E4;
}

.oferta-localizacao{
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.oferta-localizacao p{
    margin: 0 5px;
    font-size: 13px;
    color: #1F5BC6;
}

.oferta-localizacao .span-oferta{
    color: #0B347A;
    font-weight: bold;
}

.oferta-localizacao .busca-cep{
    border-radius: 50%;
    border: 1px solid #1F5BC6;
    cursor: pointer;
}


/*===========================================*/

/*============== Main ===================*/

.banner-propaganda{
    width: 100%;
    margin-top: 5px;
    padding: 5px;
}
.banner-propaganda img{
    max-width: 100%;
    border-radius: 5px;
}
.slider{
    position: relative;
}

.slider img{
    width: 100%;
    border-radius: 5px;
    margin-top: 5px;
    display: none;
    
}

.proxima-img{
    width: 50px;
    height: 50px;
    background-color: black;
    position: absolute;
    top: 130px;
    border-radius: 50%;
    cursor: pointer;
}

.promocoes{
    display: flex;
    width: 100%;
    margin-top: 10px;
}

.img-promocoes{
    margin: 0 5px;
    width: 100%;
    max-width: 100%;
    border-radius: 5px;
}
.img-promocoes img{
    width: 100%;
    border-radius: 5px;
}

/*====================Chat=============*/
.chat{
    position: fixed;
    bottom: 50px;
    right: 10px;
    border: 5px solid #ccc;
    background-color: white;
    border-radius: 50%;
}
/*=====================================*/
.melhores-produtos{
    padding: 20px 0;
}
.estilo-h2{
    color: #0C2E6D;
    padding: 20px 0;
    font-weight: normal;
    cursor: not-allowed;
    margin-top: 10px;
}
.produtos{
    width: 100%;
}

.celulares{
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.cards-cel{
    border: 1px solid #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin: 0 10px;
}

.cards-cel img{
    width: 160px;
    height: 160px;
}

.cards-cel .favorito{
    width: 32px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    box-shadow: 0px 0px 2px 2px #D8D8D8;
    border-radius: 50%;
    padding: 5px;
    background-color: white;
    border: 0;
}

#favorito{
    width: 32px;
    height: 32px;
    top: 0;
    right: 0;
    position: absolute;
    cursor: pointer;
}

.cards-cel a{
    width: 190px;
    color: #6F6F6F;
    margin: 10px;
    font-size: 12px;
}

.preco-celular{
    margin: 10px 10px;
}

.preco-celular .preco-anterior{
    color: #999999;
    font-size: 15px;
    font-weight: bold;
    text-decoration: line-through;
}

.preco-celular .preco-atual{
    color: #1F5BC6;
    font-size: 18px;
    font-weight: bold;
}
/*=================Section Melhores oportunidades===============*/
.melhores-oportunidades{
    width: 100%;
}
.cards-oportunidades{
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.card-op{
    text-align: center;
    width: calc(90% / 8);
    cursor: pointer;
    color: #ccc;
}
.card-op a{
    color: rgb(92, 92, 92);
}
.card-op:hover a{
    color: #1F5BC6;
}
.card-op .border{
    border: solid #ccc 1px;
    border-radius: 100%;
    margin-bottom: 10px;
}
.card-op .border:hover{
    border: 1px solid #487AD1;
    box-shadow: 0 0 2px 0px black;
}

.card-op img{
    width: 100%;
    

}
/*=================Section Melhores ofertas===============*/
.ofertas-card{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.ofertas-card a{
    width: calc(98% / 3);
}
.ofertas-card a img{
    width: 100%;
    height: 200px;
    border-radius: 5px;
    object-fit: cover;
}

/*=================Section Mercado Online===============*/
.mo-cards{
    height: 350px;
    margin-bottom: 20px;
}
.cards-flex{
    display: flex;
    width: 100%;
    height: 100%;
}

.img-horizontal{
    display: flex;
    width: 50%;
    height: 100%;
}
.img-horizontal a{
    margin-right: 5px;
}
.img-horizontal img{
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.img-vertical{
    width: 50%;
    height: 100%;
}
.img-vertical a{
    margin-bottom: 10px;
    margin-left: 2.5;
}
.img-vertical img{
    max-width: 100%;
    max-height: 50%;
    height: 175px;
    border-radius: 5px;
    object-fit: cover;
}

.img-pequenas{
    display: flex;
}
.img-pequenas a{
    margin-left: 2.5px;
    height: 50%;
}
.img-pequenas img{
    max-width: 100%;
    max-height: 100%;
    height: calc(175px - 2.5px);
    border-radius: 5px;
    object-fit: cover;
    
}

/*=================Section Center (Descontos)===============*/
.descontos{
    max-width: 100%;
    width: 100%;
}
.card-descontos{
    display: flex;
    width: 100%;
    max-width: 100%;
}
.card-descontos a{
    width: 50px;
    margin: 0 5px;
    width: calc((100% / 5) - 10px);
    opacity: 0.9;
}
.card-descontos a img{
    width: 100%;
    opacity: 0.9;
}

.card-descontos a img:hover{
    opacity: 1;
}
/*=================Card Serviço===============*/
.servicos{
    display: flex;
    padding: 20px 0;
    margin-top: 20px;
    justify-content: space-around;
}
.card-servico{
    display: flex;
    align-items: center;
    width: calc(95% / 5);
}

.card-servico img{
    margin-right: 10px;
}

.descricao-servico h3{
    font-size: 15px;
}
.descricao-servico span{
    font-size: 12px;
    color: rgb(114, 114, 114);
}
.descricao-servico a{
    text-decoration: underline;
    color: blue;
}

.ajuda{
    width: 100%;
}

.ajuda img {
    max-width: 100%;
}
/*========================================*/

/*=================Footer===============*/
.footer{
    padding: 20px 0;
    width: 100%;
    
    margin-bottom: 20px;
}
.container-footer{
    display: flex;
    justify-content: space-around;
}
.colunas-footer {
    width: calc(95% / 5);
}
.colunas-footer h3{
    color:#333333;
    font-size: 18px;
    margin-bottom: 20px;
}
.colunas-footer > a{
    display: inline-block;
    margin: 10px 0;
    color: #70726B;
    font-size: 15px;
}
.colunas-footer a:hover{
    color: black;
    text-decoration: underline;
}

.tel{
    width: 100%;
}

.tel p{
    margin: 20px 0 10px 0;
}

.tel a{
    border: solid black 1px;
    padding: 10px 20px;
    margin: 0 auto;
    border-radius: 5px;
}

.icons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #e0e0e0;
    padding-top: 30px;
}
.meios-de-pagamento h3{
    font-size: 15px;
}
.icones-cartoes{
    display: flex;
    max-width: 65%;
    flex-wrap: wrap;
}
.icones-cartoes img{
    width: 33px;
    height: 24px;
    margin-top: 20px;
    margin-right: 20px;
}
.icones-sociais img{
    width: 27px;
    height: 24px;
}
/*=================Footer===============*/

/*=================Feedback===============*/
.feedback{
    position: fixed;
    left: -30px;
    top: 250px;
    transform: rotate(-90deg);
    background-color: #1F5BC6;
    color: white;
    padding: 15px;
    font-size: 12px;
    border-radius: 5px;
    opacity: 0.98;
}
.feedback:hover{
    left: -29px;
    opacity: 1;
}
/*========================================*/